@model AtlasMVCAPI.Models.Cart
@using AtlasMVCAPI.Models

@{
    ViewBag.Title = "Basket";
    Layout = "~/Views/Shared/_LayoutPageOrder.cshtml";
}

<h2>장바구니 </h2>

<div class="content">
    <div class="container-fluid">
        @if (Model.Lines.Count == 0)
        {
            <div class="text-center">
                <img src="http://1004towel.com/SG/img/cart_img_empty.gif" alt="비어있는 장바구니" />
            </div>
        }
        else
        {
            <div class="row">
                <div class="col">
                    <div class="card">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">제품명</th>
                                    <th class="text-center">가격</th>
                                    <th class="text-center">수량</th>
                                    <th class="text-center">금액</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>                                
                                    @foreach (var line in Model.Lines)
                                    {
                                        <tr>
                                            <td>@line.Product.ItemName</td>
                                            <td class="text-right">
                                                <span id="linePrice">@line.Product.ItemPrice.ToString("C")</span>
                                            </td>
                                            <td class="text-right">
                                                @using (Html.BeginForm("UpdateQty", "Cart", FormMethod.Get, new { id = "updateQty" }))
                                                {
                                                    @Html.Hidden("UP_Prod", line.Product.ItemID)
                                                    @Html.Hidden("UP_Qty", line.Qty)
                                                    <input type="number" min="1" step="1" max="30" id="lineQty" name="lineQty" value="@line.Qty" style="text-align: center; width:60px" onchange="javascript:GetValueNumeric('@line.Product.ItemID');" />
                                                }
                                            </td>
                                            <td class="text-right">
                                                <span id="lineAmt">@((line.Product.ItemPrice * line.Qty).ToString("C"))</span>
                                            </td>
                                            <td class="text-center">
                                                @using (Html.BeginForm("RemoveToCart", "Cart", FormMethod.Post))
                                                {
                                                    @Html.Hidden("productID", line.Product.ItemID)
                                                    <button type="submit">
                                                        <i class="fa fa-solid fa-trash"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                
                                </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-right">Total :</td>
                                    <td colspan="1" class="text-right">@Model.CalcTotalValue().ToString("c")</td>
                                    <td colspan="1" class="text-right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">
                                        <a href='/Product/List'>
                                            <!-- Session["returnUrl"] -->
                                            <button type="button" class="btn btn-outline-primary">주문계속하기</button>
                                        </a>
                                    </td>

                                    <td class="text-center">
                                        @using (Html.BeginForm("ButtonOrder", "Cart", FormMethod.Post))
                                        {
                                            <button type="submit" class="btn btn-primary" onclick="javascript: MessageBox();">
                                                주문하기

                                            </button> <!-- name="ModelCart"-->
                                            if (Model != null)
                                            {
                                                <script language="javaScript">
                                                    function MessageBox() {
                                                        alert("주문을 완료 하였습니다.");
                                                       // Session["Cart"] = null; // 카트를 초기화
                                                    }
                                                </script>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    //jQuery(function ($) {
    //    $('#mirror').text($('#alice').val());

    //    $('#alice').on('input', function () {
    //        $('#mirror').text($('#alice').val());
    //    });
    // });
    function GetValueNumeric(prodId) {
        var qty = Number(document.getElementById("lineQty").value);
        document.getElementById("UP_Prod").value = prodId;
        document.getElementById("UP_Qty").value = qty;
        var form = document.getElementById("updateQty");
        form.submit();
    }
</script>