@model AtlasMVCAPI.Models.Cart
@using AtlasMVCAPI.Models

@{
    ViewBag.Title = "Basket";
    Layout = "~/Views/Shared/_LayoutPageOrder.cshtml";
}

<h2>Basket</h2>

<div class="content">
    <div class="container-fluid">
        @if (Model.Lines.Count == 0)
        {
            <div class="text-center">
                <img src="http://1004towel.com/SG/img/cart_img_empty.gif" alt="비어있는 장바구니" />
            </div>

        }
        else
        {
            <div class="row">
                <div class="col">
                    <div class="card">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">제품명</th>
                                    <th class="text-center">가격</th>
                                    <th class="text-center">수량</th>
                                    <th class="text-center">금액</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in Model.Lines)
                                {
                                    <tr>
                                        <td>@line.Product.ItemName</td>
                                        <td class="text-right">@line.Product.ItemPrice.ToString("c")</td>
                                        <td class="text-center">@line.Qty</td>
                                        <td class="text-right">@((line.Product.ItemPrice * line.Qty).ToString("c"))</td>
                                        <td class="text-center"><i class="fa fa-solid fa-trash"></i></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right">Total :</td>
                                    <td class="text-right">@Model.CalcTotalValue().ToString("c")</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right">
                                        <a href='@Session["returnUrl"]'>
                                            <button type="button" class="btn btn-outline-primary">주문계속하기</button>
                                        </a>
                                    </td>

                                    <td class="text-center">
                                        @using (Html.BeginForm("ButtonOrder", "Cart", FormMethod.Post))
                                        {
                                            <button type="submit" class="btn btn-primary" onclick="javascript: MessageBox();">
                                                주문하기

                                            </button> <!-- name="ModelCart"-->
                                            if (Model != null)
                                            {
                                                <script language="javaScript">
                                                    function MessageBox() {
                                                        alert("주문을 완료 하였습니다.");
                                                    }
                                                </script>
                                            }
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
