@model AtlasMVCAPI.Models.ProductPopUpModel
@using AtlasDTO;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atlas | 제품상세보기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Main content -->

    <div class="container">
        <br /><br />
        <!-- style="border: 3px solid dodgerblue; " -->
        <div class="row" style="background-color: #EFEFEF; padding-top: 10px; padding-bottom: 10px ">
            <div class="col-6">
                <img src="~/Uploads/@Model.Product.ItemImage" style="width:300px; height:300px">
            </div>
            <div class="col-6 col-sm-6">
                <h1>@Model.Product.ItemName</h1>
                <hr />
                <h6>@Model.Product.ItemExplain</h6>
                <hr />
                <h5>Size </h5>
                @{ string[] disable = { "disabled", "disabled", "disabled", "disabled" };}
                @switch (Model.Product.ItemSize)
                {
                    case "S":
                        disable[0] = "";
                        break;
                    case "D":
                        disable[1] = "";
                        break;
                    case "Q":
                        disable[2] = "";
                        break;
                    default:
                        disable[3] = "";
                        break;
                }
                <button type="button" class="btn btn-light" @disable[0]><h5>S</h5><h6>Small</h6> </button>
                <button type="button" class="btn btn-light" @disable[1]><h5>D</h5><h6>Double</h6></button>
                <button type="button" class="btn btn-light" @disable[2]><h5>Q</h5><h6>Queen</h6></button>
                <button type="button" class="btn btn-light" @disable[3]><h5>K</h5><h6>King</h6></button>
                <hr />
                <div class="col">
                    <div class="p-3 border bg-light"><h5 style="text-align: right;">@Model.Product.ItemPrice.ToString("c")</h5> </div>
                </div>
            </div>
        </div>
        <br /><br /> @*style="border-top-width: 3px; border-top-color: dodgerblue; "*@
        <div class="row" style="border: 2px solid #EFEFEF; padding-top:1em;">
            <div class="col-3">
                    <button class="btn btn-outline-secondary" style="margin: auto; display: block;" disabled>구성품</button>
            </div>
            <div class="col-9" data-spy="scroll">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">이름
                                    </th>
                                    <th scope="col">수량</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (BOMVO bom in Model.BOM.ToList().Where((x) => x.ItemCategory == "자재"))
                                {
                                    <tr>
                                        <th scope="row"></th>
                                        <td>@bom.ItemName</td>
                                        <td>@bom.UnitQty</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</body>
</html>